/* general styling rules */

.uitoolkit-transparent {
    opacity: 0.2;
}

.uitoolkit-shaded {
    background-color: rgba(0, 0, 0, 0.1);
}

.uitoolkit-featured {
    font-weight: bold;
    font-size: large;
}

a.uitoolkit-clickable {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

a.uitoolkit-clickable:hover {
    background-color: rgba(188, 188, 188, 0.3);
    background-blend-mode: multiply;
    background-attachment: fixed;
}


/* 0-width columns */

@media (min-width: 840px) {
    .mdc-layout-grid--hide {
        display: none; } }
@media (min-width: 480px) and (max-width: 839px) {
    .mdc-layout-grid__cell--hide-tablet {
        display: none; } }
@media (max-width: 479px) {
    .mdc-layout-grid__cell--hide-phone {
        display: none; } }

