/* uitoolkit buttons */

a.uitoolkit-button--wrapper {
    color: initial;
    text-decoration: none;
}

button.uitoolkit-button {
    border: solid 1px #EEEEEE
}

button.uitoolkit-button.borderless {
    border: 0;
}
