/* uitoolkit card */

.uitoolkit-card {
    position: relative;
}

.uitoolkit-card .mdc-card__primary {
    height: 48px;
    text-align: center;
    overflow: hidden;
}

.uitoolkit-card .mdc-card__media {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 128px;
}

.uitoolkit-card .mdc-card__supporting-text {
    overflow-y: auto;
    text-align: justify;
    padding-bottom: 48px;
    max-height: calc(100% - 48px - 32px - 48px);
}

.uitoolkit-card .mdc-card__supporting-text--with-media {
    max-height: calc(100% - 48px - 32px - 48px - 128px);
}

.uitoolkit-card .mdc-card__actions {
    height: 48px;
    position: absolute;
    bottom: 0;
}

.uitoolkit-card .mdc-card__actions a {
    display: inline-block;
    color: inherit;
    text-decoration: inherit;
}
