/* uitoolkit carousel */

.uitoolkit-carousel {
    min-width: 320px;
    height: 264px;
    margin-top: 12px;
    margin-bottom: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.uitoolkit-carousel .uitoolkit-carousel--wrapper {
    height: 100%;
    margin-right: 5px;
    display:inline-block;
    position: relative;
}

.uitoolkit-carousel img.uitoolkit-carousel--img {
    height: 100%;
    width: auto;
}

.uitoolkit-carousel img.uitoolkit-carousel--wrapper:last {
    margin-right: 0;
}

