/* uitoolkit imagegrid */

.uitoolkit-grid {
    min-width: 320px;
}

.uitoolkit-grid-cell {
    position: relative;
    font-size: larger!important;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 5px;
}

.uitoolkit-grid-cell--top {
    position: absolute;
    top: 0; left: 0;
    padding: 8px;
    display: inline-block;
    color: white;
    text-align: justify;
    background-color: rgba(88, 88, 88, 0.3);
    max-width: calc(100% - 16px);
    white-space: normal;
}

.uitoolkit-grid-cell--bottom {
    position: absolute;
    bottom: 0; left: 0;
    padding: 8px;
    display: inline-block;
    color: white;
    text-align: justify;
    background-color: rgba(88, 88, 88, 0.3);
    max-width: calc(100% - 16px);
    white-space: normal;
}
