/* uitoolkit list */

.uitoolkit-list-li {
    position: relative;
    border-top: 1px solid #eee;
    padding-left: 5px;
    padding-right: 5px;
}

.uitoolkit-list-li:last-child {
    border-bottom: 1px solid #eee;
}

.uitoolkit-list-li.uitoolkit-clickable:hover {
    background-color: #eee;
}

.uitoolkit-list-li .mdc-list-item__text, .uitoolkit-list-li .mdc-list-item__text__secondary {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.uitoolkit-list-li .mdc-list-item__start-detail, .uitoolkit-list-li .mdc-list--avatar-list .mdc-list-item__start-detail {
    width: 48px;
    height: 48px;
    margin-left: 0;
    margin-right: 8px;
}

.uitoolkit-list-li--image .mdc-list-item__text {
    width: calc(100% - 48px);
}
