/* uitoolkit popup */

.uitoolkit-popup--background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.uitoolkit-popup--background.dim {
    background-color: rgba(88, 88, 88, 0.3);
}

.uitoolkit-popup--background.closeable {
    cursor: pointer;
}

.uitoolkit-popup--card {
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
     z-index: 1;
}
